.twinkling {
  background: transparent url('../../images/twinkling.png') top repeat-y;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: block;
  z-index: -1;
  animation: move-background 20s linear infinite;
}

@keyframes move-background {
  from {
    transform: translate3d(-1000px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}
