.character {
  overflow: hidden;
  color: $color-dark;

  &__card {
    overflow: hidden;
    position: absolute;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 300px;
    padding: 15px;
    background-color: $color-accent;
    display: flex;
    flex-direction: column;

    &__close-icon {
      text-align: left;
      color: $color-dark;
      font-size: rem(20);
      transform: translate(-130px, 0);
      margin-bottom: 10px;
    }

    &__group {
      display: flex;
      align-items: center;
      &__img {
        width: 220px;
        margin-left: 25px;

        @include media($desktop) {
          height: 300px;
          width: 300px;
          margin-left: 0;
        }

        & img {
          width: 100%;
          object-fit: cover;
          border-radius: 15px;

          @include media($desktop) {
            height: 300px;
            width: 300px;
            margin-left: 0;
          }
        }
      }

      &__info {
        margin-left: 15px;
        text-align: left;
        font-size: rem(14);
        line-height: 1rem;
      }

      @include media($desktop) {
        width: 600px;
        transform: translate(0%, 0%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;

    @include media($desktop) {
      height: 150px;
    }

    & img {
      height: 100%;
      object-fit: contain;
    }
  }

  & .fa {
    color: $color-dark;
    font-size: rem(20);

    @include media($desktop) {
      font-size: rem(32);
    }
  }
}
