.character {
  overflow: hidden;
  color: $color-dark;

  &__card {
    position: absolute;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 350px;
    padding: 15px;
    background-color: $color-accent;
    display: flex;
    flex-direction: column;

    @include media($tablet) {
      width: 600px;
    }

    &__close-icon {
      text-align: left;
      color: $color-dark;
      font-size: rem(20);
      transform: translate(-150px, 0);
      margin-bottom: 10px;

      @include media($tablet) {
        font-size: rem(30);
        transform: translate(-280px, 0);
      }
    }

    &__group {
      display: flex;
      align-items: center;
      @include media($tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__img {
        width: 220px;
        margin-right: 15px;

        @include media($tablet) {
          height: 300px;
          width: 300px;
        }

        & img {
          width: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }

      &__info {
        text-align: left;
        font-size: rem(14);
        line-height: 1rem;

        @include media($tablet) {
          font-size: rem(20);
          text-align: center;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;

    @include media($tablet) {
      height: 150px;
    }

    & img {
      height: 100%;
      object-fit: contain;
    }
  }

  & .fa {
    color: $color-dark;
    font-size: rem(20);

    @include media($tablet) {
      font-size: rem(32);
    }
  }
}
