.footer {
  width: 100vw;
  bottom: 0;
  left: 0;
  height: 140px;
  background-color: $color-accent;
  color: $color-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media($tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin-top: 20px;
    @include media($tablet) {
      margin-left: 50px;
    }
  }

  &__socialmedia {
    margin-top: 5px;
    display: flex;
    font-size: rem(30);

    @include media($tablet) {
      margin-right: 50px;
    }

    & .fa {
      margin-left: 20px;
    }
  }
}
