.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__imgs {
    margin-top: 120px;
    margin-bottom: 50px;
    @include media($tablet) {
      margin-top: 0;
    }
    &__morty {
      width: 150px;
      @include media($tablet) {
        transform: translate(0, 100px);
        width: 250px;
      }
    }
    &__portal {
      width: 250px;
      @include media($tablet) {
        width: 400px;
      }
      animation-name: floating;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @keyframes floating {
        from {
          transform: translate(0, 0px);
        }
        65% {
          transform: translate(0, 15px);
        }
        to {
          transform: translate(0, -0px);
        }
      }
    }
    &__come-in {
      width: 150px;

      @include media($tablet) {
        transform: translate(0, 50px);
      }
      margin-left: auto;
      margin-right: auto;
      & img {
        width: 100%;
      }
    }
  }
}
