.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-light;
  &__title {
    color: $color-accent;
    margin-top: 120px;
    text-align: center;
    font-size: rem(40);
  }

  &__imgs {
    margin-bottom: 50px;
    &__morty {
      transform: translate(0, 100px);
      width: 250px;
    }
    &__portal {
      width: 400px;
      animation-name: floating;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @keyframes floating {
        from {
          transform: translate(0, 0px);
        }
        65% {
          transform: translate(0, 15px);
        }
        to {
          transform: translate(0, -0px);
        }
      }
    }
  }
}
