body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding-top: 20px;
  background-color: $color-dark;
}

.character__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: $color-light;
}
